# Put temporary objects in 'obj', (test) binaries in 'bin',
# and other stuff (such as test root files) in tmp.
*/obj
*/bin
*/tmp
core/python/*.pyc
core/python/__init__.py
*.root
*~
*.local
VLQToHiggsPairProd/*
ZprimeSemiLeptonic/*
.sframe.*.root
#*.sh
workdir*
*.d
*.dtd
*.so
*.pcm
*obj

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.pdf
AnalysisMacros/src/auto
AnalysisMacros/src/main
\#*#
#as long this is not used it does not have to be included
include/helper_fkt.h
